<p id="notice"><%= notice %></p>

<h1>Listing Vehicle Readings</h1>
<table>
  <thead>
    <th>Stop</th>
    <th>ETA</th>
    <th>Notices</th>
  </thead>
  
  <tbody>
     <%# render partial:'stopdata' %>
  </tbody>
</table>




<br>

<%= link_to 'New Vehicle reading', new_vehicle_reading_path %>
